body {
    background-color: whitesmoke;
}


form {
    margin-top: 80px;
    margin-left: 60px;
    text-align: center;
    display: inline-block;
    font-family: fantasy;
    border: 2px solid black;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
}

#submit-button {
    background-color: lightgreen;
    font-family: fantasy;
    font-size: 15px;
    padding: 2px 15px;
    border-radius: 5px;
}

#new-book {
    border-radius: 100px;   
    height: 50px;
    width: 100px; 
    font-family: cursive;
    position: fixed;
    
}

.book-list {
    position: fixed;
    left: 35%;
    font-size: 50px;
    font-family: sans-serif;
    color: lightblue;
}



.book-box {
    margin-top: 15px;
    margin-left: 70px;
    text-align: center;
    display: inline-block;
    font-family: fantasy;
    border: 2px solid black;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 10px;

}

#book-title-text {
    font-size: 20px;
}
